<nav class="sb-topnav navbar navbar-expand navbar-blue">
  <!-- Navbar Toolbar-->
  <a class="navbar-brand ps-3" [routerLink]="['/']">{{ "home.header.title" | translate }}
    <img class="img-fluid logo" src="../../../../../assets/img/smart.png" />
  </a>
  <!-- Sidebar Toggle-->
  <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </button>
  <!-- Navbar-->
  <div class="nav-content-right">
      <a class="link-user" [routerLink]="['admin', 'usuarios', 'edita', idUsuario]" >
        Olá, {{ nomeUsuario }}!
      </a>
    <div>
      <a class="link-user" [routerLink]="['admin', 'usuarios', 'edita', idUsuario]">
        <img
        *ngIf="srcImage"
        class="circular_image"
        [width]="previewWidth"
        [height]="previewHeight"
        [src]="srcImage" />
        <i *ngIf="!srcImage"
            style="font-size: 24px;"
            class="fa fa-user-circle-o">
        </i>
      </a>
    </div>
    <div>
      <a class="link-user" (click)="logout()">
        <i class="fa fa-sign-out"></i>
          Sair
      </a>
    </div>
  </div>
</nav>
