.p-button-icon-only {
  font-size: 10px !important;
  width: 2rem !important;
  background-color: #F6544C !important;
  border-color: #F6544C !important;
}

.p-fileupload-content-height {
  height: 64% !important;
}
