<form (submit)="login()" [formGroup]="loginForm" class="login">

  <p class="subtitle">
    {{ 'auth.main.login.info' | translate}}
  </p>

  <div class="mb-3">
    <label for="inputLogin" class="form-label">{{ 'auth.main.login.label.login' | translate }}</label>
    <input class="form-control" id="inputLogin" formControlName="email" [value]="loginForm.get('email')?.value"
    placeholder="{{ 'auth.main.login.label.login' | translate }}" maxlength="120"/>
    <input-feedback [control]="loginForm.get('email')"></input-feedback>
  </div>

  <div class="mb-3">
    <label for="inputPassword" class="form-label">{{ 'auth.main.login.label.password' | translate }}</label>
    <input type="password" class="form-control" id="inputPassword" formControlName="password"
    placeholder="{{ 'auth.main.login.label.password' | translate }}">
    <input-feedback [control]="loginForm.get('password')"></input-feedback>
  </div>

  <div class="mb-3">
    <a class="reset-password" [routerLink]="['reset']">
      {{ 'auth.main.login.reset-password' | translate }}
    </a>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary btn-sm" style="width: 100%;">
      {{ 'auth.main.login.button' | translate }}
    </button>
  </div>

</form>
