// Z index variables
$zindex-sidenav: 1080 !default;
$zindex-topnav: 1090 !default;

// Color variables for the sidenav

// -- Sidenav blue
$sidenav-blue-header-bg: $blue-800;
$sidenav-blue-bg: $blue-900;
$sidenav-blue-color: fade-out($white, 0.5);
$sidenav-blue-heading-color: fade-out($white, 0.75);
$sidenav-blue-link-color: fade-out($white, 0.5);
$sidenav-blue-link-active-color: $white;
$sidenav-blue-icon-color: fade-out($white, 0.75);
$sidenav-blue-footer-bg: $blue-800;

// -- Sidenav Light
$sidenav-light-bg: $gray-100;
$sidenav-light-color: $gray-900;
$sidenav-light-heading-color: $gray-500;
$sidenav-light-link-color: $sidenav-light-color;
$sidenav-light-link-active-color: $primary;
$sidenav-light-icon-color: $gray-500;
$sidenav-light-footer-bg: $gray-200;

// Color variables for the topnav
$topnav-blue-toggler-color: fade-out($white, 0.5);
$topnav-light-toggler-color: $gray-900;
