.results {
  padding-left: 10px;
  padding-right: 10px;
}

.results .actions {
  align-items: center;
  justify-content: space-between;
}

.results .actions a {
  margin-right: 10px;
  text-decoration: none;
}
