<app-main-panel icon="fa-users" [title]="'home.admin.users.index.header'">
  <section class="new">
    <form (ngSubmit)="search($event)" [formGroup]="form" class="row g-3">
      <div class="col-md-6">
        <label for="inputName" class="form-label">
          {{ "home.admin.users.form.name.label" | translate }}
        </label>
        <input class="form-control" id="inputNome" formControlName="nome" />
        <input-feedback [control]="form.get('nome')"></input-feedback>
      </div>
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">
          {{ "home.admin.users.form.email.label" | translate }}
        </label>
        <input class="form-control" id="inputEmail" formControlName="email" />
        <input-feedback [control]="form.get('email')"></input-feedback>
      </div>
      <div class="col-md-12 text-right">
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="reset()">{{ "home.admin.users.search.button.reset" | translate }}</button> &nbsp;
        <button type="submit" class="btn btn-primary btn-sm">
          <i class="fa fa-search"></i> {{ "home.admin.users.search.button.search" | translate }}
        </button>
      </div>
    </form>
  </section>

  <hr class="my-4">
  <section class="new">
    <div class="col-md-12" style="text-align: right !important;">
      <button class="btn btn-success btn-sm" [routerLink]="['/admin', 'usuarios', 'novo']">
        <i class="fa fa-plus-circle"></i>
        {{ "home.admin.users.search.button.new" | translate }}
      </button>
    </div>
  </section>

  <app-empty-result *ngIf="!result.length" [subject]="onEmptyResultSubject"></app-empty-result>
  <section class="results mt-3" *ngIf="result.length">
    <p-table [value]="result" [rows]="10" [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[5, 10, 15]" [paginator]="true"
      currentPageReportTemplate="Exibindo {first} até {last} de {totalRecords} linhas">
      <ng-template pTemplate="header">
        <tr class="table-header">
          <th pSortableColumn="nome">
            {{ "home.admin.users.table.col.name" | translate }}
            <p-sortIcon field="nome"></p-sortIcon>
          </th>
          <th pSortableColumn="email">
            {{ "home.admin.users.table.col.email" | translate }}
            <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="profile">
            {{ "home.admin.users.table.col.profile" | translate }}
            <p-sortIcon field="profile"></p-sortIcon>
          </th>
          <th pSortableColumn="dataCadastro">
            {{ "home.admin.users.table.col.register-date" | translate }}
            <p-sortIcon field="dataCadastro"></p-sortIcon>
          </th>
          <th pSortableColumn="ativo">
            {{ "home.admin.users.table.col.active" | translate }}
            <p-sortIcon field="ativo"></p-sortIcon>
          </th>
          <th>
            {{ "home.admin.users.table.col.actions.header" | translate }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr class="table-row">
          <td><span class="d-block text-truncate">{{ user.nome }}</span></td>
          <td><span class="d-block text-truncate">{{ user.email }}</span></td>
          <td><span class="d-block text-truncate">{{ user.perfilDescricao  }}</span></td>
          <td><span class="d-block text-truncate">{{ user.dataCadastro | date: 'dd/MM/yyyy HH:mm' }}</span></td>
          <td>
            {{
            user.ativo
            ? ("home.admin.users.table.col.status.active" | translate)
            : ("home.admin.users.table.col.status.inactive" | translate)
            }}
          </td>
          <td>
            <div class="actions">
              <a class="fa fa-edit button-grid" title="{{
                  'home.admin.users.table.col.actions.title.edit' | translate
                }}" [routerLink]="['/admin', 'usuarios', 'edita', user.id]">
              </a>
              <a
                *ngIf="user.ativo"
                class="fa fa-times button-grid"
                title="{{
                  'home.admin.users.table.col.actions.title.inactivate'
                    | translate
                }}"
                (click)="toggleActive(user)"
              >
              </a>
              <a
                *ngIf="!user.ativo"
                class="fa fa-check button-grid"
                title="{{
                  'home.admin.users.table.col.actions.title.activate'
                    | translate
                }}"
                (click)="toggleActive(user)"
              ></a>

              <!-- <a class="fa fa-trash fa-2x destroy" title="{{
                  'home.admin.users.table.col.actions.title.delete' | translate
                }}" (click)="open(content, user)">
              </a> -->
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ "home.admin.users.confirm-dialog.title" | translate }}
      </h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label>
            {{ "home.admin.users.confirm-dialog.message" | translate }}</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
        {{ "home.admin.users.confirm-dialog.button.ok" | translate }}
      </button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">
        {{ "home.admin.users.confirm-dialog.button.cancel" | translate }}
      </button>
    </div>
  </ng-template>
</app-main-panel>
