// blue theme for sidenav
// Append .sb-sidenav-blue to .sb-sidenav to use

.sb-sidenav-blue {
  background-color: $sidenav-blue-bg;
  color: $sidenav-blue-color;
  .sb-sidenav-menu {
    .nav-link {
      color: $sidenav-blue-link-color;
      .sb-nav-link-icon {
        color: $sidenav-blue-icon-color;
      }
      .sb-sidenav-collapse-arrow {
        color: $sidenav-blue-icon-color;
      }
      &:hover {
        color: $sidenav-blue-link-active-color;
      }
      &.active {
        color: $sidenav-blue-link-active-color;
        .sb-nav-link-icon {
          color: $sidenav-blue-link-active-color;
        }
      }
    }
  }
  .sb-sidenav-menu::-webkit-scrollbar {
    width: 0.7em;
  }
  .sb-sidenav-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  .sb-sidenav-menu::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #074368, #2C6581);
    border-radius: 10px;
  }
  .sb-sidenav-footer {
    background-color: $sidenav-blue-footer-bg;
  }
}
