@import "src/assets/sass/layout/forms";

#layoutSidenav_content main {
  margin-top: 5rem;
}

#layoutSidenav_content main .px-4 {
  padding-right: 1.25rem !important;
  padding-left: 1.25rem !important;
}

.main-title h4, .h4 {
  font-size: 1.4rem;
  font-weight: 400;
}

.circular_image {
  border-radius: 100%;
  overflow: hidden;
  background-color: blue;
}
.card_itens{
  position: relative;
  /* display: flex; */
  flex-direction: column;
  min-width: 0;
  /* word-wrap: break-word; */
  background-color: #fff;
  background-clip: border-box;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
}

div .cope_init{
  width: 8%;
  display: inline-block;
  flex-wrap: wrap;
}
div .cope{
  width: 9%;
  display: inline-block;
  flex-wrap: wrap;
}
.cope_big{
  width: 16.5%;
  flex-wrap: wrap;
  clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}


@media screen and (max-width: 1200px) {

  div .cope {
    flex-wrap: wrap;
      width: 50%;
  }
  .cope_big{
    flex-wrap: wrap;
      width: 50%;
  }

}
